<div class="row justify-content-center" *ngIf="(this.locations.length!=0)">
    <div class="col-auto">
        <table class="table" style="width: 10cm ; text-align: center; ">
            <thead>
                <tr>
                    <th scope="col">Naziv</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of locations">
                    <td>{{item.name}}</td>
                    <td style="text-align: left;width: 3cm;"  *ngIf="this.adminService.onlyForAdmins()"><button type="button" class="btn btn-danger btn-sm"
                            (click)="removeGenre(item)">Ukloni</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row justify-content-center" *ngIf="(this.locations.length==0)">
    <div class="col-auto">
        <img src="https://img.pikbest.com/58pic/35/39/61/62K58PICb88i68HEwVnm5_PIC2018.gif!w340"
            style="width: 3cm;height: 3cm;">
    </div>
</div>

<div class="row justify-content-center" style="text-align: center;">
    <div class="col-auto">
        <form>  
            <div leaflet [leafletOptions]="options" [leafletLayers]="this.markers"  
                style="height: 10cm;width: 10cm; border-radius: 1cm;">
            </div>  
        </form>

    </div>
</div>

<!-- <div style="padding: 15px; width: 15 cm; text-align: center;"> -->
<!-- Kako napraviti da ovo bude kutijica-->
<!-- </div> -->


<hr> 